html {
    scroll-behavior: smooth;
}

.cabecalho {
    height: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgb(26, 25, 25);
}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}


.home .slider {
    margin: 0 auto;
    width: 100%;
    height: 560px;
    justify-content: center;
    padding-left: 23.5%;
    /* qualquer coisa, muda */
    overflow: hidden;
}

.home .slider .slides {
    width: 1200%;
    height: 550px;
    display: flex;
}

.home .slider .slides input {
    display: none;
}

.home .slider .slide {
    width: 25%;
    /* qualquer coisa, muda */
    position: relative;
    transition: 1s;
}

.home .slider .slide img {
    width: 1200px;
    height: 40pc;
}

.home .slider .manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.home .slider .manual-navigation label {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.home .slider .manual-navigation label:hover {
    background-color: #fff;
}


.home .slider .manual-navigation label:not(:last-child) {
    margin-right: 40px;

}

#radio1:checked~.first {
    margin-left: -1.5%;
    margin-right: 5%;
}

#radio2:checked~.first {
    margin-left: -26.2%;
    margin-right: -0.20%;
}

#radio3:checked~.first {
    margin-left: -51.3%;
}




.home .slider .navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.home .slider .navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.home .slider .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.home .slider .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio3:checked~.home .slider .navigation-auto .auto-btn1 {
    background-color: #fff;

}

/* parte da vitrine*/

.compre-ja {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    align-items: center;
    margin-top: -165px;
}


.compre-ja .titulo {
    display: flex;
    font-size: 50px;
    font-weight: 700;
    margin-top: 90px;
    font-family: 'Codygoon';
    color: #fff;
}

.compre-ja .lista {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
}

/*Parte da barra de pesquisa*/

::-webkit-input-placeholder {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #aeaeae;
}

.compre-ja .caixa-pesquisa{
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 50px;
    padding: 2px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compre-ja .caixa-pesquisa .barra {
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 0;
}

.compre-ja .caixa-pesquisa .pesquisa-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.compre-ja .caixa-pesquisa .lupa-branca {
    display: none;

}


.compre-ja .caixa-pesquisa:hover > .barra {
    width: 320px;
    padding-left: 20px;
}

.compre-ja .caixa-pesquisa:hover > .pesquisa-btn {
    background: #447ce7;
}

.compre-ja .caixa-pesquisa:hover > .pesquisa-btn .lupa-blue {
    display: none;
}

.compre-ja .caixa-pesquisa:hover > .pesquisa-btn .

/*Final da parte da barra de pesquisa*/

.compre-ja .lista .cartao {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-family: 'Codygoon', sans-serif;
    background-color: #0f131f;
    width: 90pc;
    height: auto;
    border-radius: 10px;
    padding: 80px;
    gap: 40px;
}


.compre-ja .lista .cartao .imagem {
    width: 180px;
}

.compre-ja .lista .cartao .informacoes .titulo {
    display: flex;
    text-align: right;
    margin-bottom: 5%;
    margin-left: 65%;
    color: #fff;
}

.compre-ja .lista .cartao .informacoes .texto {
    font-size: 18px;
    text-align: right;
    margin-left: 6%;
    margin-bottom: 5%;
}

.compre-ja .lista .cartao:hover {
    

}

.btn-comprar,
.btn-plataforma {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-family: 'Milestone One';
    font-size: 28px;
    margin-right: -50%;
    align-items: right;
    text-align: center;
    padding: 10px 40px;
    text-transform: uppercase;
    width: 25%;
    transition: all .3s ease-in;
}


.compre-ja .informacoes .plataformas {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}


.compre-ja .btn-plataforma .plataformas {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;
}

.compre-ja .btn-plataforma .plataformas.ativo {
    display: flex;
    opacity: 1;
}