.cabecalho {
    display: flex;
    height: 4pc;
    margin: 2px;
    background: #1a1a1a;
    align-items: center;
}

.cabecalho .logo {
    height: 3pc;
    width: auto;
    margin-top: -1pc;
}

.home {
    display: flex;
    background: #131c2b;
    height: 100%;
    min-height: calc(100vh - 80px);
    overflow: hidden;
}

.home::after {
    content: '';
    position: absolute;
    height: 91.6%;
    width: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 20%, transparent 50%);

}

.home .imagem-fundo {
    display: inline-block;
    width: 44%;
    opacity: 0;
    transition: opacity 5s ease-in-out;
    position: absolute;
    animation: slide 4s;
    top: 11%;
    z-index: 1;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
    }

}



.home .imagem-fundo.show {
    opacity: 1;
    transform: translateX(0);
}

/*
formulário
*/

.home .box {
    position: relative;
    display: flex;
    margin-left: 70pc;
    margin-top: 10pc;
    width: 380px;
    height: 480px;
    background: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
}

.home .box .borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}


.home .box .formulario {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 4px;
    overflow-y: visible;
    overflow-x: hidden;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
}

.home .box .titulo {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.home .box .formulario .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}


.home .box .formulario .inputBox input {
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}


.home .box .formulario .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.home .box .formulario .inputBox input:valid~span,
.home .box .formulario .inputBox input:focus~span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);

}

.home .box .formulario .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.home .box .formulario .inputBox input:valid~i,
.home .box .formulario .inputBox input:valid~i {
    height: 44px;
}

.home .box .formulario .links {
    display: flex;
    justify-content: space-between;
}

.home .box .formulario .links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;

}

.home .box .formulario .links a:hover,
.home .box .formulario .links a:nth-child(2) {
    color: #fff;
}

.home .formulario .inputBox input[type="submit"] {
    width: 100px;
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 9px 15px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
}

.home .box .formulario input[type="submit"]:active {
    opacity: 0.8;

}


.roda-pe {
    height: 35pc;
    padding: 3px;
    padding-bottom: 5pc;
    display: grid;
    color: #fff;
    margin: 2px;
    width: 100%;

    flex: 1 1 100vw;
    background-color: #1a1a1a;
}

.roda-pe .opcoes {
    display: flex;
    justify-content: center;
}



.roda-pe .opcoes .lista {
    display: flex;
    font-size: 20px;
    font-family: 'Codygoon';
    justify-content: center;
    text-align: center;
    align-items: center;

}

.roda-pe .opcoes .lista a {
    margin: 1pc;
    margin-bottom: 2pc;
    margin-top: 2pc;
}

.roda-pe .opcoes .lista a:hover {
    transform: translateY(-5px);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.roda-pe .logo {
    margin-left: 42%;
    margin-top: 4pc;
    width: 250px;
}



.roda-pe .social_media {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 38%;
}

.roda-pe .subtitulo {
    display: flex;
    margin-left: 39%;
    margin-bottom: 2pc;
    font-size: 15px;
    text-align: center;
    font-family: 'Codygoon', sans-serif;

}

.roda-pe .social_media a {
    position: relative;
    display: flex;
    margin-left: 13px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 2px 1px 5px;
    background-color: #fff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.roda-pe .social_media img {
    height: 2pc;

}

.roda-pe .social_media #telegram img {
    margin-right: 5px;

}

.roda-pe .social_media #facebook:hover {
    transform: scale(1.1);
    /*
    background: rgb(255, 255, 255);
    background: linear-gradient(31deg, rgba(255, 255, 255, 1) 0%, rgba(98, 223, 255, 1) 23%, rgba(0, 172, 255, 1) 44%, rgba(47, 128, 255, 1) 74%, rgba(81, 91, 255, 1) 100%);
    */
    background: rgb(64, 167, 255);
    background: linear-gradient(35deg, rgba(64, 167, 255, 1) 0%, rgba(0, 82, 255, 1) 100%);
}

.roda-pe .social_media #instagram:hover {
    transform: scale(1.1);
    background: rgb(255, 209, 0);
    background: linear-gradient(23deg, rgba(255, 209, 0, 1) 0%, rgba(255, 136, 0, 1) 22%, rgba(227, 4, 4, 1) 53%, rgba(185, 6, 178, 1) 78%);
}

.roda-pe .social_media #discord:hover {
    transform: scale(1.1);
    background: rgb(87, 81, 255);
    background: linear-gradient(35deg, rgba(87, 81, 255, 1) 0%, rgba(157, 95, 255, 1) 100%);
}

.roda-pe .social_media #linkedin:hover {
    transform: scale(1.1);
    background: rgb(32, 104, 255);
    background: linear-gradient(35deg, rgba(32, 104, 255, 1) 0%, rgba(69, 60, 255, 1) 100%);
}

.roda-pe .social_media #telegram:hover {
    transform: scale(1.1);
    background: rgb(64, 187, 255);
    background: linear-gradient(35deg, rgba(64, 187, 255, 1) 0%, rgba(0, 147, 255, 1) 100%);
}

/*
 Cores que variam de acordo com a rede social (sombra da imagem)
*/

.roda-pe .social_media #facebook:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(5, 98, 144));
}

.roda-pe .social_media #instagram:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(95, 32, 32));
}


.roda-pe .social_media #discord:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(57, 32, 95));
}

.roda-pe .social_media #linkedin:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(32, 36, 95));
}

.roda-pe .social_media #telegram:hover img {
    transform: scale(1.1);
    transition: 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(3px 3px rgb(22, 68, 105));
}



.roda-pe #copyright {
    font-family: 'Codygoon';
    color: #fff;
    text-align: center;
}